#header {
    background-color: blue;
    color:white;
    text-align:center;
    padding:5px;
}

#actions {
	line-height:30px;
    background-color:#eeffff;
    height: 100%;
    width: 100%;
    float:left;
    padding:5px;
}

#box a {
	color:#ffffff;
	background:#b3b06c;
	font:bold 16px verdana, sans-serif;
	text-decoration:none;
	display:block;
	padding:5px;
	border:1px solid black;
}

#feedback a {
	color:#ffffff;
	background:#00CC00;
	font:bold 16px verdana, sans-serif;
	text-decoration:none;
	text-align:center;
	display:block;
	padding:5px;
	border:1px solid black;
}